# 1. Первичный ключ
Создайте таблицу users с со следующими полями:

id — идентификатор, целое положительное, первичный ключ без автоинкремента, NULL запрещен.
first_name — имя пользователя, строка до 50 символов.
last_name — фамилия пользователя, строка до 50 символов.
birthday — дата рождения. Пользователь может не указать день рождения и тогда в поле нужно хранить NULL.
Добавьте 3 записи так, чтобы получалась таблица ниже:
```
users
id	first_name	last_name	birthday
1	Дмитрий	Иванов	NULL
2	Анатолий	Белый	NULL
3	Денис	Давыдов	1995-09-08
```

Ответ:  
```
CREATE TABLE users(
    id INT UNSIGNED NOT NULL PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    birthday DATE DEFAULT NULL
);
INSERT INTO users (id, first_name, last_name, birthday)
VALUES
    (1, 'Дмитрий', 'Иванов', NULL),
    (2,	'Анатолий',	'Белый', NULL),
    (3, 'Денис', 'Давыдов',	'1995-09-08')
```
 
# 2. Автоинкремент
Создайте таблицу orders с автоинкрементальным первичным ключом id, полем state для хранения статуса заказа и полем amount для хранения суммы заказа. Статус заказа умещается в строку длиной 8 символов, а сумма заказа является денежным типом до 1 млн. с двумя знаками после десятичной точки.

Добавьте 3 записи так, чтобы получалась таблица ниже:
```
orders
id	state	amount
1	new	1000.50
2	new	3400.10
3	delivery	7300.00
```
Ответ: 
```
CREATE TABLE orders(
    id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
    state VARCHAR(8),
    amount DECIMAL(8,2)
);
INSERT INTO orders (state, amount)
VALUES
    ('new', 1000.50),
	('new',	3400.10),
	('delivery', 7300.00)
```
# 3. Паспорта
Создайте таблицу passports со следующими полями:

series — символьного типа длиной до 4 символов. NULL запрещен.
number — символьного типа длиной до 6 символов. NULL запрещен.
user_id — беззнаковый INT. NULL запрещен.
date_issue — дата типа DATE
Создайте первичный ключ по двум полям: series и number.
Попробуйте самостоятельно найти в интернете информацию о том, как создать первичный ключ по двум полям в MySQL.

Добавьте 4 записи так, чтобы получалась таблица ниже:
```
passports

series	number	user_id	date_issue
3206	147345	15	2006-08-12
3216	147345	234	2016-09-23
2405	147345	1	2015-01-07
5411	147345	15	2008-03-03
```
Ответ: 
```
CREATE TABLE passports(
    series VARCHAR(4) NOT NULL,
    number VARCHAR(6) NOT NULL,
    user_id INT UNSIGNED NOT NULL,
    date_issue DATE
);
ALTER TABLE passports
ADD PRIMARY KEY 
    (series, number);
INSERT INTO passports 
    (series, number, user_id, date_issue)
VALUES 
    (3206, 147345, 15, '2006-08-12'),
    (3216, 147345, 234, '2016-09-23'),
    (2405, 147345, 1, '2015-01-07'),
    (5411, 147345, 15, '2008-03-03');
```
 
# 4. Цифровые фильмы
Создайте таблицу files для хранения данных о цифровых фильмах. В таблице должны быть следующие поля:

id - идентификатор.
film_id — ссылка на фильм, беззнаковое целое, NULL запрещен. Ссылки на другие поля должны быть того же типа, что и сами поля. То есть film_id должно быть того же типа, что и id (в другой таблице).
size — размер файла в байтах. В магазине могут быть фильмы более 100 Гб. надо запретить добавлять в таблицу файлы отрицательного размера.
filename — название файла, символьное поле длиной 100 символов.
Добавьте 3 записи так, чтобы получалась таблица ниже:
```
files

id	film_id	size	filename
1	356	28668906700	silicon_valley_s02_1080p.zip
2	4514	2684354560	dunkirk.mp4
3	87145	734003200	milk.mp4
```
Ответ: 
```
CREATE TABLE files(
    id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
    film_id INT UNSIGNED NOT NULL,
    size BIGINT UNSIGNED,
    filename VARCHAR(100)
);
INSERT INTO files 
    (film_id, size, filename)
VALUES 
    (356, 28668906700, 'silicon_valley_s02_1080p.zip'),
    (4514, 2684354560, 'dunkirk.mp4'),
    (87145, 734003200, 'milk.mp4');
```

# 5. Товары после 5000 рублей
Выберите из таблицы products все товары от 5000 рублей и дороже в порядке убывания значений первичного ключа
```
products
id	name	count	price
1	Стиральная машина	5	10000
2	Холодильник	0	20000
3	Микроволновка	3	4000
4	Пылесос	2	5000
5	Вентилятор	0	700
6	Телевизор	7	31740
7	Тостер	2	2500
8	Принтер	4	3000
```
Ответ: `SELECT * FROM products WHERE price >= 5000 ORDER BY id DESC`

# 6. Четные первичные ключи
Выберите из таблицы products первичные ключи и названия всех товаров с четным первичным ключом.
Данные отсортируйте в порядке возрастания цены.

Четность или нечетность числа, можно определить по остатку от деления на два.
Если число делится на два без остатка, то оно четное иначе нет.
Чтобы получить остаток от деления можно воспользоваться оператором %.
Например, если вычислять остаток от деления на два для поля id то получаем следующие значения:
```
1 % 2 = 1 (остаток 1, нечетное)
2 % 2 = 0 (остаток 0, четное)
3 % 2 = 1 (остаток 1, нечетное)
```

Ответ: `SELECT id, name FROM products WHERE id % 2 = 0 ORDER BY price`
 

# 7. Изменение пользователя
Измените имя пользователя с первичным ключом 7 с «Иван» на «Дмитрий».
```
users

id	first_name	last_name	birthday
1	Дмитрий	Петров	2000-03-14
2	Ольга	Антонова	1999-12-01
3	Сергей	Васильев	2002-02-20
4	Иван	Степаниденко	2004-03-07
5	Алена	Шикова	1999-98-17
6	Василина	Парамнова	2000-10-10
7	Иван	Пузаков	2002-02-20
8	Алина	Антонова	2002-01-01
```
Ответ: `UPDATE users SET first_name = 'Дмитрий' WHERE id = 7`

# 8. Удаление заказов
Удалите из таблицы orders заказы с номерами 3, 4 и 7.
```
orders

id	user_id	products_count	sum	status
1	1	2	1300	new
2	18	1	200	cancelled
3	11	1	2140	in_progress
4	145	5	6800	new
5	23	1	999	new
6	1	2	7690	cancelled
7	17	1	1600	new
8	5	4	400	delivery
9	2355	1	1450	new
10	13	7	13000	new
```
Ответ: `DELETE FROM orders WHERE id = 3 OR id = 4 OR id = 7`

# 9. Клиенты
Создайте таблицу clients со следующими полями:

id — автоинкрементальный первичный ключ.
first_name — имя, строка до 50 символов. NULL запрещен.
last_name — фамилия, строка до 50 символов. NULL запрещен.
email — электронный адрес, строка до 100 символов. NULL запрещен, все значения уникальные.
passport — серия и номер паспорта, строка до 10 символов. NULL запрещен, все значения уникальные.
Все уникальные ключи должны иметь те же имена, что и поля, для которых они создаются.

Ответ: 
```
CREATE TABLE clients(
    id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) NOT NULL,
    UNIQUE KEY email (email),
    passport VARCHAR(10) NOT NULL,
    UNIQUE KEY passport (passport)
);
```

# 10. Паспорта
Создайте таблицу passports для хранения паспортов пользователей.

id — автоинкрементальный первичный ключ.
user_id — идентификатор пользователя, беззнаковый INT, NULL запрещен.
series — серия паспорта, строка до 4 символов, NULL запрещен.
number — номер паспорта, строка до 6 символов, NULL запрещен.
state — статус паспорта. Поле выбора одного из 2 вариантов: active (активный), expired (истекший). NULL запрещен, по умолчанию active.
Создайте уникальный ключ passport по двум полям: series и number.

Ответ: 
```
CREATE TABLE passports(
    id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
    user_id INT UNSIGNED NOT NULL,
    series VARCHAR(4) NOT NULL,
    number VARCHAR(6) NOT NULL,
    state ENUM('active', 'expired') NOT NULL DEFAULT 'active',
    UNIQUE KEY passport (series, number)
);
```

# 11. Посты
Создайте таблицу posts для хранения постов пользователей на сайте:

id — автоинкрементальный первичный ключ.
user_id — идентификатор пользователя, беззнаковый INT, NULL запрещен.
name — название поста, строка до 100 символов, NULL запрещен.
pub_date — дата и время публикации. По умолчанию NULL (означает, что пост еще не опубликован).
slug — идентификатор поста для генерации URL, строка до 50 символов, NULL запрещен.
В рамках всего сайта slug могут повторяться, но для каждого конкретного пользователя значения slug уникальны. Создайте подходящий под это условие ключ с именем uslug.

Ответ: 
```
CREATE TABLE posts(
    id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
    user_id INT UNSIGNED NOT NULL,
    name VARCHAR(100) NOT NULL,
    pub_date DATETIME NULL DEFAULT NULL,
    slug VARCHAR(50) NOT NULL,
    UNIQUE KEY uslug (user_id, slug)
);
```


# 12. Штрих коды
Создайте таблицу products для хранения данных о товарах в магазине:

id — автоинкрементальный первичный ключ.
category_id — идентификатор категории, беззнаковый INT, по умолчанию NULL.
name — название товара, строка до 100 символов, NULL запрещен.
slug — идентификатор товара для генерации URL, строка до 50 символов, NULL запрещен.
ean13 — штрих-код из 13 символов. Только уникальные значения. NULL запрещен.
В рамках всего сайта slug могут повторяться, но для каждой конкретной категории значения slug уникальны. Создайте подходящий под это условие ключ с именем category_slug.

Ответ: 
```
CREATE TABLE products(
    id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
    category_id INT UNSIGNED NULL DEFAULT NULL,
    name VARCHAR(100) NOT NULL,
    slug VARCHAR(50) NOT NULL,
    ean13 VARCHAR(13) NOT NULL,
    UNIQUE KEY ean13 (ean13),
    UNIQUE KEY category_slug (category_id, slug)
);
```

# 13. Заказы с индексами
Создайте таблицу orders со следующими полями:

id — автоинкрементальный первичный ключ.
user_id — идентификатор пользователя, беззнаковый INT, NULL запрещен.
state — статус заказа, строка до 8 символов. По умолчанию new. NULL запрещен.
amount — целое положительное для хранения чисел не более 1 млн. NULL запрещен. По умолчанию 0.
Создайте два обычных индекса для полей user_id и state. Имена индексов должны совпадать с именами столбцов.

Ответ: 
```
CREATE TABLE orders(
    id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
    user_id INT UNSIGNED NOT NULL,
    state VARCHAR(8) NOT NULL DEFAULT 'new',
    amount MEDIUMINT UNSIGNED NOT NULL DEFAULT 0,
    INDEX user_id(user_id),
    INDEX state(state)
);
```

# 14. Индексы по категории и цене
Создайте таблицу products для хранения товаров в интернет магазине:

id — первичный ключ.
category_id — категория, целое положительное. Может принимать NULL. По умолчанию NULL.
name — название, строка до 100 символов. NULL запрещен.
count — количество, целое положительное до 255. NULL запрещен, по умолчанию 0.
price — цена типа DECIMAL с 10 знаками, 2 из которых выделены для копеек. NULL запрещен, по умолчанию 0.00.
Добавьте в таблицу два простых индекса так, чтобы ускорить поиск по категории и по цене.
Названия индексов должны быть такими же, как и названия полей, по которым эти индексы строятся.

Ответ: 
```
CREATE TABLE products(
    id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
    category_id INT UNSIGNED NULL DEFAULT NULL,
    name VARCHAR(100) NOT NULL,
    count TINYINT UNSIGNED NOT NULL DEFAULT 0,
    price DECIMAL(10,2) NOT NULL DEFAULT 0.00,
    INDEX category_id(category_id),
    INDEX price(price)
);
```


# 15. Индексы по номеру и серии паспорта
Создайте таблицу passports для хранения паспортов пользователей.

id — автоинкрементальный первичный ключ.
user_id — идентификатор пользователя, беззнаковый INT, NULL запрещен.
series — серия паспорта, строка до 4 символов, NULL запрещен.
number — номер паспорта, строка до 6 символов, NULL запрещен.
state — статус паспорта. Поле выбора одного из 2 вариантов: active (активный), expired (истекший). NULL запрещен, по умолчанию active.
Создайте уникальный ключ passport по двум полям: series и number.

Добавьте два простых индекса, чтобы ускорить поиск данных по серии и номеру паспорта.
Названия индексов сделайте такими же, как и поля, для которых эти индексы создаются.

Ответ: 
```
CREATE TABLE passports(
id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
user_id INT UNSIGNED NOT NULL,
    series VARCHAR(4) NOT NULL,
    number VARCHAR(6) NOT NULL,
    state ENUM('active', 'expired') NOT NULL DEFAULT 'active',
    UNIQUE KEY passport(series, number),
    INDEX series(series),
    INDEX number(number)
);
```

# 16. ССоставной простой индекс
Простые индексы можно создавать не по одному полю, а сразу по нескольким. Это позволяет ускорить поиск в тех случаях, когда в запросе присутствует фильтр или сортировка сразу по нескольким полям. Например, если часто вызывается запрос вида:
```
SELECT * FROM products WHERE category_id = 5 AND price > 1000;
```
То имеет смысл создать составной индекс по полям category_id и price.
Простой составной индекс создается также как и уникальный, только без слова UNIQUE.

Создайте таблицу orders для хранения списка заказов со следующими полями:

id — автоинкрементальный первичный ключ.
user_id — идентификатор пользователя, беззнаковый INT, NULL запрещен.
city_id — идентификатор города, беззнаковый INT, NULL запрещен.
state — статус заказа. Выбор из new, cancelled, delivered, completed. Можно выбрать только один вариант. NULL запрещен. По умолчанию new.
amount — целое положительное для хранения чисел не более 1 млн. NULL запрещен. По умолчанию 0.
Самый популярный запрос к этой таблице:
```
SELECT * FROM orders WHERE city_id = 5 AND state = "new";
```
Добавьте составной индекс с именем main_search, чтобы данный запрос выполнялся максимально быстро.
Также добавьте простой индекс по полю user_id.

Ответ: 
```
CREATE TABLE orders(
    id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
    user_id INT UNSIGNED NOT NULL,
    city_id INT UNSIGNED NOT NULL,
    state ENUM('new', 'cancelled', 'delivered', 'completed') NOT NULL DEFAULT 'new',
    amount MEDIUMINT UNSIGNED NOT NULL DEFAULT 0,
    INDEX main_search(city_id, state),
    INDEX user_id(user_id)
);
```


# 17. Индекс по категории
Программисты проанализировали производительность запросов к таблице products и нашли медленный запрос:
```
SELECT id, category_id, name FROM products WHERE category_id = NN;
```
где NN – это номер категории. Добавьте к таблице нужные индексы, чтобы запрос выполнялся быстрее.
Индекс нужно назвать так же как поле

Ответ: ```CREATE INDEX category_id ON products(category_id);```

# 18. Индекс по дате
В базе данных есть таблица calendar, в которой хранится информация о событиях в городах. Самые популярные запросы к этой таблице затрагивают одновременно два поля: city_id и date. Добавьте индекс с именем base_query для ускорения популярных запросов.

Текущая таблица создана с помощью SQL запроса:
```
CREATE TABLE calendar (
 id INT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
 city_id INT UNSIGNED NOT NULL,
 name VARCHAR(100) NOT NULL,
 description TEXT NOT NULL,
 date DATETIME NOT NULL
 );
```
Ответ: 
```
CREATE INDEX base_query ON calendar(city_id, date)
```

# 19. Индекс по серии и номеру паспорта
Разработчик создал таблицу passports для хранения паспортов с помощью следующего запроса:
```
CREATE TABLE passports (
 id INT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
 user_id INT UNSIGNED NOT NULL,
 series VARCHAR(4) NOT NULL,
 number VARCHAR(6) NOT NULL,
 state ENUM('active','expired') NOT NULL DEFAULT 'active',
 UNIQUE KEY series (series),
 UNIQUE KEY number (number)
 );
```
В процессе эксплуатации базы данных выяснилось, что в таблицу нельзя добавить две записи с одинаковой серией или с одинаковым номером паспорта. Хотя планировали, чтобы уникальность была только для совместных данных в series и number.

Удалите неправильные индексы и создайте индекс с именем series_number, который удовлетворяет условию выше.

Ответ: 
```
DROP INDEX series ON passports;
DROP INDEX number ON passports;
CREATE UNIQUE INDEX series_number ON passports(series, number);

```


# 20. Удаление неправильных индексов
Удалите из таблицы products индексы, которые по вашему мнению установлены неправильно. Таблица создана с помощью следующего SQL запроса:
```
CREATE TABLE products (
 id INT UNSIGNED NOT NULL PRIMARY KEY AUTO_INCREMENT,
 category_id INT UNSIGNED NULL DEFAULT NULL, 
 name VARCHAR(100) NOT NULL,
 count TINYINT UNSIGNED NOT NULL DEFAULT 0, 
 price DECIMAL(10,2) NOT NULL DEFAULT 0.00,
 UNIQUE INDEX category_id (category_id),
 INDEX count (count),
 INDEX main_search (category_id, price)
 );
```
Ответ: ```DROP INDEX category_id ON products```